<!DOCTYPE html>
<html>
  <head>
    <title>공사중</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="background-color:#55bccc">
    <img
      src="/images/maintenance-2422173_640.png"
      alt="My Image"
      style="margin-left: auto; margin-right: auto; display: block;"
    />
    <h1 style="text-align: center">코드 작성중 입니다.</h1>
  </body>
</html>
