<!-- file:home.ejs
     작성:20200303 james
     설명:
     로그인 하면 나오는 첫 페이지 입니다.
     바탕은 layout.ejs 이고
     <main>태그 부분만 작성하면 된다-->

<h1 style="text-align: center;">Zero R에 오신 것을 환영합니다.</h1>
<h1 style="text-align: center;">Welcome <%= name %> *^_^*</h1>
