<!DOCTYPE html>
<html>
  <head>
    <title>Login실패</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="background-color:#55bccc">
    <h1>아이디가 존재하지 않거나 Password가 틀립니다.</h1>
    <a href="users/sign_up" style="color:midnightblue">회원가입 하기</a>
    <div>
      <a href="users/pw_reset" style="color:midnightblue">Password 찾기</a>
    </div>
  </body>
</html>
