/* Credit to bootsnipp.com for the css for the color graph */
/*signup화면 css */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.centered {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 30%;
  padding: 1em;
  text-align: center;
}
